body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.back_to_cart {
    text-decoration: none;
    color: inherit;
    display: block;
  }

.wrapper {
    /* margin-top: 5%; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  

}

.container {
    width: 65%;
    padding: 5% 10%;
}

h1 {
    align-self: center;
}

form {
    width: 100%;
    height: 100%;
}

form > * {
    margin-top: 20px;
}

input {
    width: 100%;
    min-height: 25px;
    border: 0;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    
    margin-top: 5px;
 
    border-radius: 4px;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
   
}

h1 {
    font-size: 24px;
    line-height: 10px;
 
    letter-spacing: 1px;
}

h1:nth-of-type(2) {
    margin-top: 10%;
}

.name {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.name > div {
    width: 45%;
}

.address-info,
.cc-info {
    display: flex;
    justify-content: space-between;
}

.address-info > div,
.cc-info > div {
    width: 30%;
}

.cc-info > div {
    width: 45%;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}







input:focus,
button:focus {
    outline: none;
}

/* @media (max-width: 736px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .btns {
        align-items: center;
    }

    .btns > button {
        width: 50%;
    }

    form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .name > div,
    .address-info > div,
    .cc-info > div {
        align-items: center;
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .street,
    .cc-num {
        text-align: center;
    }

    input {
        margin: 5px 0;
        min-height: 30px;
    }
} */


.total{
   
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 18px;
}



